.parent {
    border: 2px solid white;
    background-color: gray;
    display: grid;
    grid-template-areas: 'st st . . . .'
        'st st . . . .';

}

.parent>div {
    text-align: center;
    border: 1px solid blue;
}

.item {
    background-color: green;
    grid-area: st;
}